@model AgriEnergyConnect.Models.Tables.Farmer[]?

@{
    ViewData["Title"] = "ManageFarmers";
    ViewData["Page"] = "ManageFarmers";
}

@section Styles {

    <style type="text/css">
    
        #background {
            background-image: url('../images/wheat-farm.png');
            background-size: 100%;
        }

        .content {
            color: white;
        }
    
    </style>

}

@section Scripts {

    <script type="text/javascript">
    
        // Occurs when the user clicks the 'Add Farmer' button.
        function AddFarmer()
        {
            document.getElementById("add-farmer").hidden = false;
            document.getElementById("remove-farmer").hidden = true;
            document.getElementById("update-farmer").hidden = true;
        }

        // Occurs when the user clicks the 'Remove Farmer' button.
        function RemoveFarmer()
        {
            document.getElementById("add-farmer").hidden = true;
            document.getElementById("remove-farmer").hidden = false;
            document.getElementById("update-farmer").hidden = true;
        }

        // Occurs when the user clicks the 'Update Farmer' button.
        function UpdateFarmer()
        {
            document.getElementById("add-farmer").hidden = true;
            document.getElementById("remove-farmer").hidden = true;
            document.getElementById("update-farmer").hidden = false;

            // Perform a SelectFarmer operation.
            SelectFarmer();
        }

        // Occurs when the user clicks the 'Submit' button.
        function SubmitFarmerReg() { 

            // Get the field data.
            let firstName = document.getElementById("txtFirstName").value;
            let lastName = document.getElementById("txtLastName").value;
            let emailAddress = document.getElementById("txtEmailAddress").value;
            let cellphoneNumber = document.getElementById("txtCellphoneNumber").value;
            let gender = document.getElementById("rbMale").checked ? "M" : "F";
            let userName = document.getElementById("txtUserName").value;
            let password = document.getElementById("txtPassword").value;
            let confirmPassword = document.getElementById("txtConfirmPassword").value;

            // Perform a validation check.
            let validation = firstName.length > 0 &&
                lastName.length > 0 &&
                emailAddress.length > 0 &&
                cellphoneNumber.length > 0 &&
                userName.length > 0 &&
                IsStrongPassword(password) &&
                password == confirmPassword;

            // Check if the validation succeeded.
            if(validation)
            {
                // Create a new object.
                let regInfo = new Object();
                regInfo.FirstName = firstName;
                regInfo.LastName = lastName;
                regInfo.EmailAddress = emailAddress;
                regInfo.CellphoneNumber = cellphoneNumber;
                regInfo.Gender = gender;
                regInfo.UserName = userName;
                regInfo.Password = password;
                regInfo.ConfirmPassword = confirmPassword;

                // Perform a POST operation.
                POST("/Employee/ManageFarmers", JSON.stringify(regInfo), [["ActionName", "AddFarmer"]], function (status) {

                    // Check if the status is OK.
                    if(status == 1)
                    {
                        document.location.reload();
                    }

                });
            }
        }
        
        // Occurs when the user clicks the 'Cancel' button.
        function CancelFarmerReg() {
            document.getElementById("add-farmer").hidden = true;
        }

        // Occurs when the user selected the radio button 'Male'.
        function rbMale_onclick()
        {
            document.getElementById("rbMale").checked = true;
            document.getElementById("rbFemale").checked = false;
        }

        // Occurs when the user selected the radio button 'Female'.
        function rbFemale_onclick() {
            document.getElementById("rbMale").checked = false;
            document.getElementById("rbFemale").checked = true;
        }

        // Occurs when the user is requesting a farmer to be removed from the database.
        function RequestFarmerRemoval() { 
            let farmerId = document.getElementById("farmerID").value;

            if(farmerId.length > 0)
            {
                // Perform a POST operation.
                POST("/Employee/ManageFarmers", farmerId, [["ActionName", "RemoveFarmer"]], function (status) {

                    // Check if the status is OK.
                    if(status == 1)
                    {
                        document.location.reload();
                    }
                });
            }
        }

        // Occurs when the user is cancelling the request for a farmer to be removed.
        function CancelFarmerRemoval() { 
            document.getElementById("remove-farmer").hidden = true;
        }

        // Occurs when the user selected the radio button 'Male'.
        function rbMale2_onclick() { 
            document.getElementById("rbMale2").checked = true;
            document.getElementById("rbFemale2").checked = false;
        }

        // Occurs when the user selected the radio button 'Female'.
        function rbFemale2_onclick() {
            document.getElementById("rbMale2").checked = false;
            document.getElementById("rbFemale2").checked = true;
        }

        // Occurs when the user clicked the button 'Update'.
        function UpdateFarmerInfo() { 
            // Get the field data.
            let farmerID = parseInt(document.getElementById("farmerID2").value, 10);
            let firstName = document.getElementById("txtFirstName2").value;
            let lastName = document.getElementById("txtLastName2").value;
            let emailAddress = document.getElementById("txtEmailAddress2").value;
            let cellphoneNumber = document.getElementById("txtCellphoneNumber2").value;
            let gender = document.getElementById("rbMale2").checked ? "M" : "F";
            let userName = document.getElementById("txtUserName2").value;
            
            // Perform a validation check.
            let validation = firstName.length > 0 &&
                             lastName.length > 0 &&
                             emailAddress.length > 0 &&
                             cellphoneNumber.length > 0 &&
                             userName.length > 0;

            // Check if the validation succeeded.
            if(validation)
            {
                // Create a new object.
                let userProfile = new Object();
                userProfile.UserID = farmerID;
                userProfile.FirstName = firstName;
                userProfile.LastName = lastName;
                userProfile.EmailAddress = emailAddress;
                userProfile.CellphoneNumber = cellphoneNumber;
                userProfile.Gender = gender;
                userProfile.UserName = userName;

                // Perform a POST operation.
                POST("/Employee/ManageFarmers", JSON.stringify(userProfile), [["ActionName", "UpdateFarmer"]], function (status) {

                    // Check if the status is OK.
                    if(status == 1)
                    {
                        document.location.reload();
                    }

                });
            }
        }

        function CancelUpdate()
        {
            document.getElementById("update-farmer").hidden = true;
        }

        // Occurs when the user selects a farmer id from the drop-down list.
        function SelectFarmer()
        {
            let farmerId = document.getElementById("farmerID").value;

            if (farmerId != EMPTY_STRING) {
                let jsonData = document.getElementById("FARMER-" + farmerId).value;

                let farmer = JSON.parse(jsonData);

                document.getElementById("txtFirstName2").value = farmer.FirstName;
                document.getElementById("txtLastName2").value = farmer.LastName;
                document.getElementById("txtEmailAddress2").value = farmer.EmailAddress;
                document.getElementById("txtCellphoneNumber2").value = farmer.CellphoneNumber;

                let gender = farmer.Gender;

                if (gender == "M") {
                    document.getElementById("rbMale2").checked = true;
                }

                if (gender == "F") {
                    document.getElementById("rbFemale2").checked = true;
                }

                document.getElementById("txtUserName2").value = farmer.UserName;
            }
        }

    </script>

}

@foreach(var farmer in this.Model)
{
    string jsonData = Newtonsoft.Json.JsonConvert.SerializeObject(farmer);

    <input type="hidden" value="@jsonData" id="FARMER-@farmer.FarmerID" />
}

<div style="margin-top: 16px;">
    <div class="content">
        <h1 style="background-color: white; color: black; width: fit-content; padding: 4px; border-radius: 8px">Manage Farmers</h1>

        <div style="width: 100%; background-color: #FAFAFA; border-radius: 8px; padding: 16px; margin-top: 16px">

            <button class="btn-class btn-small" onclick="AddFarmer()">Add Farmer</button>
            <button class="btn-class btn-small" onclick="RemoveFarmer()">Remove Farmer</button>
            <button class="btn-class btn-small" onclick="UpdateFarmer()">Update Farmer</button>

            <hr style="color: #333333; height: 3px" />

            <div id="add-farmer" hidden>
                
                <div style="width: fit-content; color: black">

                    <h4>Add Farmer</h4>

                    <p>
                        Please complete all the required fields to add the new farmer.
                    </p>

                    <table style="width: 430px" cellpadding="4">

                        <tr>
                            <th>First Name: *</th>
                            <td><input id="txtFirstName" type="text" value="" style="width: 100%" /></td>
                        </tr>
                        <tr>
                            <th>Last Name: *</th>
                            <td><input id="txtLastName" type="text" value="" style="width: 100%" /></td>
                        </tr>
                        <tr>
                            <th>Email Address: *</th>
                            <td><input id="txtEmailAddress" type="email" value="" style="width: 100%" /></td>
                        </tr>
                        <tr>
                            <th>Cellphone Number: *</th>
                            <td><input id="txtCellphoneNumber" type="text" value="" style="width: 100%" /></td>
                        </tr>
                        <tr>
                            <th>Gender: *</th>
                            <td align="right"><input id="rbMale" type="radio" onclick="rbMale_onclick()" /> Male <input id="rbFemale" type="radio" onclick="rbFemale_onclick()" /> Female</td>
                        </tr>
                        <tr>
                            <th>UserName: *</th>
                            <td><input id="txtUserName" type="text" value="" style="width: 100%" /></td>
                        </tr>
                        <tr>
                            <th>Password: *</th>
                            <td><input id="txtPassword" type="password" value="" style="width: 100%" /></td>
                        </tr>
                        <tr>
                            <th>Re-enter Password: *</th>
                            <td><input id="txtConfirmPassword" type="password" value="" style="width: 100%" /></td>
                        </tr>
                    </table>
                    <div align="right" style="margin-top: 16px">
                        <button class="btn-class2" onclick="SubmitFarmerReg()">Submit</button>
                        <button class="btn-class2" onclick="CancelFarmerReg()">Cancel</button>
                    </div>
                </div>

                <hr style="color: #333333; height: 3px" />
            </div>

            <div id="remove-farmer" hidden>

               <div style="width: fit-content; color: black">

                   <h4>Remove Farmer</h4>

                   Please select a farmer ID to continue:<br />
                   <br />
                   <b>Farmer ID: *</b>

                    <select id="farmerID" style="margin-left: 100px; width: 160px" onclick="SelectFarmer()">
                        
                        <!-- Iterate through the collection -->
                        @foreach (var farmer in this.Model)
                        {
                            <option>@farmer.FarmerID</option>
                        }

                    </select>

                   <br />
                   <br />
                   <div align="right">
                       <button class="btn-class2" onclick="RequestFarmerRemoval()">Remove</button>
                       <button class="btn-class2" onclick="CancelFarmerRemoval()">Cancel</button>
                   </div>
               </div>
                <hr style="color: #333333; height: 3px" />
            </div>

            <div id="update-farmer" hidden>

                <div style="width: fit-content; color: black">

                    <h4>Update Farmer</h4>

                    <p>Click the Submit button to begin the update process.</p>
                    
                    <table style="width: 430px" cellpadding="4">

                        <tr>
                            <th>Farmer ID: *</th>
                            <td>
                                <select id="farmerID2" style="width: 100%" onchange="SelectFarmer()">

                                    <!-- Iterate through the collection -->
                                    @foreach(var farmer in this.Model)
                                    {
                                        <option>@farmer.FarmerID</option>
                                    }

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>First Name: *</th>
                            <td><input id="txtFirstName2" type="text" value="" style="width: 100%" /></td>
                        </tr>
                        <tr>
                            <th>Last Name: *</th>
                            <td><input id="txtLastName2" type="text" value="" style="width: 100%" /></td>
                        </tr>
                        <tr>
                            <th>Email Address: *</th>
                            <td><input id="txtEmailAddress2" type="text" value="" style="width: 100%" /></td>
                        </tr>
                        <tr>
                            <th>Cellphone Number: *</th>
                            <td><input id="txtCellphoneNumber2" type="text" value="" style="width: 100%" /></td>
                        </tr>
                        <tr>
                            <th>Gender: *</th>
                            <td align="right"><input id="rbMale2" type="radio" onclick="rbMale2_onclick()" /> Male <input id="rbFemale2" type="radio" onclick="rbFemale2_onclick()" /> Female</td>
                        </tr>
                        <tr>
                            <th>UserName: *</th>
                            <td><input id="txtUserName2" type="text" value="" style="width: 100%" /></td>
                        </tr>
                    </table>
                    <div align="right" style="margin-top: 16px">
                        <button class="btn-class2" onclick="UpdateFarmerInfo()">Submit</button>
                        <button class="btn-class2" onclick="CancelUpdate()">Cancel</button>
                    </div>
                </div>

                <hr style="color: #333333; height: 3px" />

            </div>

            <div align="center" style="color: black">
                <h4>Farmers from Agri-Energy Connect</h4>
            </div>
            <hr style="color: #333333; height: 3px" />


            <table style="width: 100%; color: black" cellpadding="4">

                <tr>
                    <th>Farmer ID:</th>
                    <th>First Name:</th>
                    <th>Last Name:</th>
                    <th>Email Address:</th>
                    <th>Cellphone Number:</th>
                    <th>Gender:</th>
                    <th>UserName:</th>
                </tr>

                @if(this.Model != null)
                {
                    <!-- Iterate through the collection. -->
                    @foreach(var farmer in this.Model)
                    {
                        <tr>
                            <td>@farmer.FarmerID</td>
                            <td>@farmer.FirstName</td>
                            <td>@farmer.LastName</td>
                            <td>@farmer.EmailAddress</td>
                            <td>@farmer.CellphoneNumber</td>
                            <td>@farmer.Gender</td>
                            <td>@farmer.UserName</td>
                        </tr>
                    }
                }
            </table>
        </div>

    </div>
</div>
